<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>学生主页</title>
    <link rel="stylesheet" href="mainpage.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <h1 class="text-center">北京大学统计学考研初试经验分享</h1>

    <div class="lead text-center"><span>
            </span>来源：<a href="http://www.kaoyan365.cn/" target="_blank">中公考研</a>　更新时间：2019年05月30日
    </div>


    <p class="text-center"><strong>[摘要]</strong>考研是一场持久战，需要耐心和坚持，本篇文章中公研招网小编整理了北京大学统计学考研初试经验分享，希望对大家有所帮助。</p>


    <p class="text-center">　　<img alt="" src="http://www.kaoyan365.cn/uploadfile/2015/0414/20150414034246555.jpg"
                                  style="width: 17px; height: 14px;"><span style="color: rgb(255, 140, 0);"><strong>考研交流群580187894
                </strong></span><a href="https://jq.qq.com/?_wv=1027&amp;k=5wvL7m4" target="_blank"><img alt="考研交流群"
                                                                                                         src="http://pub.idqqimg.com/wpa/images/group.png"
                                                                                                         title="考研交流群"></a>
    </p>
    <p>　　考研要经历很艰辛的过程，心态的调整非常重要，下面中公研招网小编整理了北京大学统计学考研经验分享供广大考生参考。希望以下内容对大家有所帮助。</p>
    <p>　　如果目标专业竞争太过激烈的话，不妨看看有没有别的难度较低的相似的专业，学长就是做了正确的选择，成功考入了北京大学统计学专业，所以，选择，真的很重要!</p>
    <p>　　本科就读于某双非统计专业。实话说，今年能够一战考上北大，真的很意外。回想这一年的奋斗历程，真的有太多太多话想说那么，我们就进入正题吧</p>
    <p>　　<strong>一、关于考研</strong></p>
    <p>　　其实，我觉得各位学弟学妹们在动手准备考研之前，应该要想清楚一个问题：我为什么考研?</p>
    <p>　　虽然这看起来是一个简单的问题，但实际上值得深入思考。我发现身边有很多人考研是随大流，看到别人都在考研，自己也就准备下，抱着试一试的心态，万一碰巧考上了呢。其实这种心态我是最不提倡的。</p>
    <p>
        　　考研是一场艰难的战役，需要全身心的投入，需要你能够忍耐住差不多一年的寂寞，按部就班，天天过着三点一线的生活。这个过程其实是很难熬的。如果只是抱着试一试的心态准备考研的话，那么在碰到困难的时候，很容易就会选择放弃。如果自己并不是那么想考研，那还不如拿出这一年的时间去实习，去丰富自己的工作经验。因为，一年的时光太宝贵了。
    </p>
    <p>　　<strong>二、关于叉院</strong></p>
    <p>
        　　我考上的是北京大学前沿交叉学科研究院。首先，我想跟大家介绍一下这个学院。北大叉院成立于2006年，于2016年正式招收统考研究生。首先叉院是北大十多所研究院的一个集合，在叉院中不仅有大数据学院还有生物科学研究院、纳米科学研究院等十多个研究院。
    </p>
    <p>　　其实叉院主要招生对象是博士生，而这两年只有大数据学院招收统考的研究生。招生专业是数据科学，共分四个方向，分别是计算机，统计，数学和软件工程。今年，这四个方向计划合并招生10人。</p>
    <p>　　叉院最大的一个特点是比较鼓励跨专业考生，因为在数据科学这个领域，不仅涉及到统计、数学的知识，还涉及到计算机以及其他学科的相关知识。</p>
    <p>　　<strong>三、为何选择叉院</strong></p>
    <p>
        　　其实一开始我是打算考北京大学数学科学学院的应用统计专业，这大半年的的时间我都在按照数院的要求来复习。但是在临近报名的时候，我发现今年数院的群异常活跃，这让我十分担忧，感觉今年数院会炸(果然炸了)。而与此同时我发现了叉院这块净土。今年是叉院第二年招生，考试科目和数院一摸一样，而且叉院培养方向是大数据统计、机器学习方向，授课老师都是各个学院的大牛。同时，我发现网上关于叉院的招生信息几乎为零。
    </p>
    <p>　　所以我想，既然叉院目前知名度不高，而且它的培养模式和我未来的发展方向吻合，那我不如试一试。于是，在报名系统即将关闭的时候，我改了志愿。果然，实践证明，我的选择是无比正确的!(如果还是一股脑儿拼数院，今年就进不了复试了)
    </p>
    <p>　　<strong>四、复习阶段安排</strong></p>
    <p>　　(一)基础期2017.2-2017.6</p>
    <p>
        　　在这一阶段，我主要是以打基础为主，主攻数学和专业课，而在我整个考研的过程中，这一阶段也是我复习的时间最长的阶段。基本上每天7:30到图书馆，24:00离馆。我认为基础阶段最重要的一个阶段，因为只要基础打扎实了，在后续的强化和冲刺阶段中才能够后劲十足，遇到各种纷繁复杂的题目时才能处变不惊，随机应变。
    </p>
    <p>　　1、数学</p>
    <p>　　在基础阶段，我数学主要是看李老师的复习全书和张 宇老师36讲，并且紧跟着张
        宇老师的基础课程，同时，我把主要的课本都看了两遍有余，课后习题也都完成了。由于大一时数学基础打得好，因此这个阶段我过得特别快，宇哥36讲做了百分之五十。其实这些考研参考书是要多做几遍的，对于里面比较难的题目，可以先不着急做，留到后面强化冲刺时候做。而每天早上都要温故而知新，把前一天所学的过一遍，没想清楚的题目仔细思考一遍，这样的学习方法是最有效率的。
    </p>
    <p>　　2、专业课</p>
    <p>　　三月底开始准备专业课，当时买了陈家鼎的数理统计学讲义，开始看这本书的时候，真的是想死的心都有。明明全都是中国字，却完全看不懂，感觉自己本科学了假统计…</p>
    <p>
        　　在学长的建议下，我把陈书丢到一边，先以茆诗松的概率论与数理统计为主打基础。这是一本难得的好书，对于很多难懂的知识点，作者都尽量用最朴实易懂的语言来讲述。而且这是一本好题库，课后习题比较多。习题都是设置在每一节的结尾，在学习新的知识点后，及时做点练习会强化你的理解。
    </p>
    <p>
        　　同时，我还在看复旦大学李贤平的概率论基础，这是一本很经典的概率论教材，书中对概率论的基本概念、各个分布的联系都做了很完整的介绍，并且每个定理都给出了详尽的证明。但这本书对初学者还是有些难度的，因此我一般是拿着这本书，配合着北大mooc的概率论课程来学。
    </p>
    <p>
        　　说到北大mooc，强烈推荐何书元教授的概率论。何老师的教学水平可以说是达到了炉火纯青的境界，跟他一起学习概率论，不仅可以学习到书本上的知识，更重要的是还能够培养你的概率统计思维，在后续学习中你会发现，用概率统计的思维去想问题，往往能够化繁为易。而缜密的概率统计思维，对理解陈家鼎这本变态的书来说，也是极其重要的。
    </p>
    <p>　　(二)强化阶段：2017.7-2017.9</p>
    <p>
        　　在强化阶段，我的学习强度并没有基础阶段那么大，而且这一阶段主要是以做题为主。由于暑假天气炎热，我一般早上8:30到自习室，早上8:00左右就离开了。天热，心也躁，很难静下来看书，反倒是想回去空调房呆着看剧…这一阶段我仍然是以数学和专业课为主(至于英语，后面我会补充)
    </p>
    <p>　　1、数学</p>
    <p>　　在强化阶段，我主要是以张 宇老师的1000题、汤老师的1800题为主要的练习对象，同时我还将36讲从头到尾看了一遍，把36讲中在基础阶段不太会做的题，以及空下的题都做了一遍。同时我每天都会刷五到八个张
        宇老师的强化班视频，并且把他课上讲的题都记录下来。</p>
    <p>
        　　我个人觉得，在记笔记的时候，要注重各个章节的前后逻辑，最好是采取对比式总结法。比如说像函数的可积、可导和可微概念，可以总结到一张表中，以方便进行对比。还有就是像随机变量的收敛性(依分布、弱收敛、强收敛)采取对比式总结法。这样才能够将零碎的知识点归纳起来，形成一个体系。
    </p>
    <p>
        　　在强化阶段，你所接触到的题目难度都会有所上升。所以说，在做题的时候，千万不要太在意你做的题是否正确，而是要总结做题方法、做题思路，并把一些比较巧妙的想法记在笔记本中。而且也不能太纠结于做题的速度，因为学习数学是一个加速度的过程。在你基础还没打牢的时候，做题速度慢是很正常的，当你经过一段时间的训练后，做题速度自然会加快了。
    </p>
    <p>　　2、专业课</p>
    <p>
        　　经过了基础阶段，我已经把茆书和李书都看完了。因此我的专业课也打下了扎实的基础。所以，我开始看大boss陈家鼎的数理统计讲义。第一遍看得特别慢，花了大半个暑假我才看完，而且才看懂了一半。因此感觉还是很焦躁的。所以我在看陈书的同时也会再过一遍自己做的笔记，同时我还买了李贤平出得一本习题集，但这本习题集已经绝版…不过里面的题目都挺好，且难度适中。
    </p>
    <p>
        　　在强调一遍，看书的同时要辅以一定量的习题，很多知识都是在做题中慢慢理解的。由于陈书并没有官方答案，我只能先把自己的答案写在一本小册子上。九月份的时候花重金买了学长自制的答案，在对比的时候发现在某些题目上我的思路还是有些不成熟。但在对比答案的过程中，我发现我对这本书的理解更深化了。所以，不管题目难度如何，不管是否有答案，对每一道题，你都要好好地去思考，只有这样，才会有进步。
    </p>
    <p>　　(三)冲刺阶段：2017.10-2017.12</p>
    <p>
        　　冲刺阶段是整个考研过程中最紧张、学习强度最大的阶段，而且是最能看出你的学习效果的阶段。在这个阶段中，很多人都犯了一个误区，就是只会刷题，刷各种题。我觉得在冲刺阶段中最好的学习方法是：边总结边做题。要把基础和强化阶段的笔记多看几遍，而且要养成记录错题、好题的习惯。
    </p>
    <p>　　1、数学</p>
    <p>
        　　我是在十一月左右才开始做真题的，我并不提倡太早做真题，因为这样你会很容易陷入一个误区，就是盲目的自信，因为真题太简单了…我在冲刺阶段刷的模拟题应该有40多套了吧。但是我陷入了一个误区，就是为了节省时间，我大部分的模拟题都只做了大题却忽略了小题。所以今年考研的时候我数学考砸了，回去对答案，发现我的选择填空错了差不多三十分。
    </p>
    <p>　　今年的考研真题是众所周知的难，而且难点都出在后面的大题，而我今年大体做得蛮好的…而且今年考完英语时候太开心以致于忘了拿走身份证…导致差点没考成数学…所以呀，孩子们，一定要长点心呐!</p>
    <p>　　2、专业课</p>
    <p>
        　　冲刺阶段，我又把陈家鼎的书看了五六遍，而每过一次，我都会有新的想法。我真正读透是在10月底…所以说，学习专业课，一定要在基础阶段和强化阶段打好扎实的基础。而何谓扎实的基础?就是你把书合上后，是否能够把书中的框架理出来?对于书中的概念、思想方法，你是否能够用自己的话表达出来?没碰到一道题目，你是否能在脑海中产生解题思路及连带知识点?要想达到这种程度，必须靠长时间的积累。
    </p>
    <p>
        　　同时，我还做了很多学校的真题，有中大、科大、华师、山大等的。其实北大的题目总体不难，但是考的很细，比如今年有道大题考到了“置信区间的长度是随机变量”这个知识点，而陈书对此只提到了一丢丢，稍微不注意就容易忽略了。所以，在看书的时候不能放过一个角落，每个地方都要理解到位。对了，在看陈书之前，最好要温习一下高等代数里面的知识，因为在第四章会大量涉及。
    </p>
    <p>　　3、英语</p>
    <p>
        　　为什么到这里我才讲英语呢，因为我英语的确是十一月份才开始的……并且断断续续的只做了五套真题。由于我大一到大三都在学习英语，并且考了不少证书，所以我对我的英语还是挺有自信的…虽然英语一考了80…但千万不能这么做，因为到后期你的心态会爆炸的…
    </p>
    <p>
        　　关于英语的学习方法，我可能不会讲太多。但我发现考研英语对词汇和长难句的要求是极高的，并且在做阅读的时候，你会发现特别多的同义替换，很多地方不理解都是因为有一些生词或者是熟词僻意。所以，词汇量对于考研英语确实是很重要的。但是我觉得，在背单词的时候，千万不能只把注意力放在单词本身。更要更加注重单词后面的附带例句中。同时我觉得最好的背单词方法是看文章，我是一个不喜欢背单词的人，但我爱看文章，一直以来我都是这么做的。
    </p>
    <p>　　4、政治</p>
    <p>
        　　说到政治，我更惭愧…虽然国庆期间看了腿姐的强化班，但是从国庆一直到十二月份，我都没有看政治，一直在刷专业课和数学。虽然最后政治并没有给我拉分，但大家千万不能像我这样做，因为我在十二月份的时候心态爆炸，感觉要放弃了。虽然我的数学和专业课都没问题了，但我一直担心政治会过不了线…
    </p>
    <p>　　我觉得政治十月份左右就要开始，并且每天都要给出一点时间学政治，中途不能断。对于政治，我也没有什么可说的，就是在后期一定要买肖老的时政小册子，而且一定要做四套卷，很多真题都会涉及到时政的。</p>
    <p>　　四、书单</p>
    <p>　　1、数学</p>
    <p>　　《宇哥36讲》(强推!而且得贯穿于整个考研过程)</p>
    <p>　　《李老师复习全书》(这本书适合基础阶段，题目不难，且有些老旧，如果只做这本是不够的)</p>
    <p>　　《李老师线性代数》(这本的线代讲的尤其细致，而且每章节前都有知识网络，线代难在前后章节联系性太强，可以说牵一发而动全身，所以必须打好基础，最终要形成一个知识体系。这本书可以配合李老师强化视频来做，1.8倍速，你懂得)
    </p>
    <p>　　《宇哥1000题》(强推!里面的题目可以说是道道经典，难度有分阶，AB组强化阶段做，C组冲刺阶段做，而且有配套的讲解视频，高昆仑主讲)</p>
    <p>　　《汤老师1800题》(个人不太推荐，感觉几遍的题目就是随意拼凑起来，没太大针对性，做了一半我就丢了)</p>
    <p>　　《宇哥闭关修炼180》(这本书都是大题，国庆期间可用来集训，练大题感觉和速度首选)</p>
    <p>　　《李老师660题》(这本书全是选择填空题。虽然写着基础俩字，但难度挺大，需要有扎实基础后才可以开动，不然就是找死。我是在9月份做的，通过此书可以查漏补缺，对课本知识进行全面考察)</p>
    <p>　　《宇哥8套卷、4套卷》(10-12月份刷卷用，做得贼爽，计算量大，考前多训练计算能力，考试时候才能得心应手)</p>
    <p>　　《李正元预测试卷》、《李老师8套卷》(挺简单的…很真题难度差不多)</p>
    <p>　　《合工大5套卷》(感觉难度挺大，且有许多新颖的题目，做的过程中可以涨涨见识，但时间紧迫的话可以不做。)</p>
    <p>　　2、专业课</p>
    <p>　　专业课前后看了十多本书，现挑选个人觉得最好的几本如下</p>
    <p>
        　　陈家鼎《数理统计学讲义》(北大官方教材，难度很大，如果专业课学得一般，不建议立马上手，不然真是劝退书，会让你怀疑人生的…所以先用茆诗松打基础在看。看书前要回顾下高等代数中关于线性空间、n维欧几里得空间等相关知识。此书无答案，需要的可以私戳我)
    </p>
    <p>　　茆诗松《概率论与数理统计》(适合国内大多数学校考研难度，题目多，很基础的一本书。这本书统计部分讲的很好)</p>
    <p>　　李贤平《概率论基础》(概率论部分这本讲的最好，不过题目有点老。第五章极限定理涉及大量证明，强收敛部分证明不需要掌握)</p>
    <p>　　汪仁官《概率引论》(考北大的第二本参考书，由于绝版，现只能买到扫描版，很不清晰，看的很不爽。可以用李贤平的代替，但里边的习题还是蛮好的)</p>
    <p>　　陈家鼎《概率与统计》(这本书统计部分讲的很好，概率部分太难了，可以不看。这本书可以作为数理统计学讲义的补充)</p>
    <p>　　李贤平《概率论与数理统计教程》(绝版了，网上可买到扫描版。题目很多，暑期强化阶段可用来刷题)</p>
    <p>　　安利：北大mooc概率论，强推!!!这个视频配合李贤平的概率论基础一起看。</p>
    <p>　　国防科技大学概率论与数理统计，这个视频讲的偏基础，但很详细，可以在基础阶段配合茆书来看。</p>
    <p>　　3、英语</p>
    <p>　　只用了《星火英语20年真题》，这本书排版很好，解析很精彩，很值!</p>
    <p>　　4、政治</p>
    <p>　　石磊四本讲义(配合石磊强化班来看。国庆期间刷了一遍，起初觉得石磊应试性很强，很实际，后来发现其实这样不好，很多地方他都没有讲解，就是一直给你划重点…)</p>
    <p>　　《肖老精讲精练》(不推荐…这本书感觉就是把课本所有知识照搬到书上，内容贼多，字贼小，题贼少…这对于理科生的我简直是灾难，于是看了一章就丢了)</p>
    <p>　　肖老《时政小册子》(必买，时政不要自己去搜集，浪费时间，看这本就够了。)</p>
    <p>　　《肖老4套卷》(后期背背背，果然都考到了)</p>
    <p>　　政治答题要书写工整，不然很难得高分!</p>
    <p>　　六、还有些话想说：</p>
    <p>　　1、Always have faith, dare to dream
        big，现在才四月初，距离考研还有八个月左右，八个月的时间足够改变一个人，足够让你去成为一个更好的自己。只要你够努力，只要你坚持不懈，上天是不会辜负你的。</p>
    <p>　　2、对于百度云，我深受其害!不仅加载、下载如龟速，还经常闪退、不能加速、会员贼贵!都快把我气抑郁了(╯﹏╰)后期我都在用哔哩哔哩，很多课程在上面都可以找到，并且可以在线加速，何乐而不为呢?</p>
    <p>
        　　3、我知道大家都有一颗考名校的心，其实我也是，但又都会时常怀疑自己。怀疑自己是否有能力考上。其实我在准备北大考研的时候，我有设立一个次优目标，但是我给自己的规定是：在九月份报名之前，我都会一直严格按照最高目标来复习，如果到时候实在不行，我再换。而且我相信知识是相通的。最高目标固然难，但站得高看得远。只要你按照最高目标来复习了，就算是换到次优目标，以你的水平去理解他们的知识，也不会有太大困难。
    </p>
    <p>　　4、冲刺阶段可以到淘宝购买考研专用答题卡，做卷子就严格控制时间，在答题卡上答题。其实，在答题卡上答题和在稿纸上的感觉是不一样的。</p>
    <p>　　好的，我就跟大家讲到这里啦!希望你们不要觉得我罗嗦哈哈哈～我的学习方法也不一定适用于所有人，所以大家可以多看看几篇经验帖，综合考虑自己的情况，选择适合自己的方法，这才最重要的。</p>
    <p>　　以上是<a href="http://yz.kaoyan365.cn" target="_blank"><span
            style="color: rgb(0, 0, 255);">中公研招网</span></a>为考生整理的“北京大学统计学考研初试经验分享”的相关考研信息，希望对大家考研备考有所帮助!
        备考过程中如有疑问，也可以关注中公考研网微信公众号进行咨询。</p>
    <p>　　同时为大家整理了<a href="http://yz.kaoyan365.cn/school/" target="_blank"><span
            style="color: rgb(0, 0, 255);">考研院校排名</span></a>、<a href="http://yz.kaoyan365.cn/zhuanye/"
                                                                target="_blank"><span
            style="color: rgb(0, 0, 255);">考研专业</span>，</a>中公考研网也将实时更新全国各大高校包括招生简章、招生目录、参考书目、报录比。免费提供历年考研试题下载，另外还有<a
            href="http://mg.kaoyan365.cn/bannian/" target="_blank"><span
            style="color: rgb(0, 0, 255);">考研面授课程</span></a>、考研网课，欢迎各位考生了解。</p>
    <p>　　<strong>相关阅读》》》</strong>　</p>
    <p>　　<a href="http://yz.kaoyan365.cn/school/bisu/jingyan/45340.html" style="text-align: center;"
            target="_blank"><span style="color:#ff0000;">考研日语对比考研英语有优势吗？</span></a></p>
    <p>　　<a href="http://yz.kaoyan365.cn/school/bfsu/jingyan/45320.html" style="text-align: center;"
            target="_blank"><span style="color:#ff0000;">考研英语阅读读不懂？阅读秘籍助你解决难题！</span></a></p>
    <p>　　<a href="http://yz.kaoyan365.cn/school/bfsu/jingyan/45319.html" style="text-align: center;"
            target="_blank"><span style="color:#ff0000;">考研经验：英语各阶段复习资料汇总，你准备齐了吗？</span></a></p>

</div>
<div class="zgky_jjleft_huod"><span>活动专题</span></div>

<div class="row" id="clearfix">
    <div class="col-md-3">
        <dl style=" ">
            <dt><a href="http://www.kaoyan365.cn/zhuanti/hanjiatyy/" target="_blank"><img alt=""
                                                                                          src="http://www.kaoyan365.cn/uploadfile/2018/1228/20181228043114674.jpg"
                                                                                          width="210px"
                                                                                          height="130px"></a></dt>
            <dd><a href="http://www.kaoyan365.cn/zhuanti/hanjiatyy/" target="_blank">2020考研寒假辅导课程</a></dd>
        </dl>
    </div>
    <div class="col-md-3">
        <dl style=" ">
            <dt><a href="http://mg.kaoyan365.cn/baoyan/" target="_blank"><img alt=""
                                                                              src="http://www.kaoyan365.cn/uploadfile/2018/1228/20181228042944776.jpg"
                                                                              width="210px"
                                                                              height="130px"></a></dt>
            <dd><a href="http://mg.kaoyan365.cn/baoyan/" target="_blank">名校保研培训课程</a></dd>
        </dl>
    </div>

    <div class="col-md-3">
        <dl style=" ">
            <dt><a href="http://lx.kaoyan365.cn/" target="_blank"><img alt=""
                                                                       src="http://www.kaoyan365.cn/uploadfile/2018/1019/20181019050209814.jpg"
                                                                       width="210px"
                                                                       height="130px"></a></dt>
            <dd><a href="http://lx.kaoyan365.cn/" target="_blank">考研周末面授班</a></dd>
        </dl>

    </div>
</div>
</body>

</html>