<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告详情</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="zgky_jjleft">
        <h1 class="text-center">东北大学2020年大学生保研夏令营招生公告</h1>

        <div class="text-center lead">来源：<a
                href="http://www.kaoyan365.cn/" target="_blank">中公考研</a>　更新时间：2019年06月13日
        </div>

        <div class="zgky_jjleft_ly">

            <p class="text-center"><strong>[摘要]</strong>东北大学2020年大学生保研夏令营招生公告已经公布。中公研招网小编根据官网信息将内容整理如下，详细内容请查阅正文。</p>

        </div>

        <div class="zgky_jjleft_cont">

            　　<img alt="" src="http://www.kaoyan365.cn/uploadfile/2015/0414/20150414034246555.jpg"
                   style="width: 17px; height: 14px;"><span
                style="color: rgb(255, 140, 0);"><strong>考研交流群296795122</strong></span><a
                href="http://qm.qq.com/cgi-bin/qm/qr?k=CKRs8kzyc2JdXx7oye87CqpyC30QILW4" target="_blank"><img
                alt="2019考研交流群" border="0" src="http://pub.idqqimg.com/wpa/images/group.png" title="2019考研交流群"></a>
            <p>
                　　保研夏令营是近几年各高校(特别是著名高校)抢夺优质生源的一种方式。利用暑假中一周左右的时间，与学生较长时间的接触，参观实验室，介绍各导师研究方向，学术交流会等形式，通过多种方式(例如笔试、面试、实验测试等)来考核学生，以确定是否发放拟录取通知书。以下是“东北大学2020年大学生保研夏令营招生公告”，供2019级毕业生参考。更多院校保研信息整请查看<a
                    href="http://yz.kaoyan365.cn/school/pku/zixun/47047.html" target="_blank"><span
                    style="color: rgb(255, 0, 0);">2020年全国高校保研夏令营活动通知汇总</span></a>。</p>
            <p>
                　　为不断提高我校硕士研究生的招生质量，吸引更多综合素质高、科研潜力突出的优秀拔尖创新人才到我校深造。现面向广大2020年普通全日制应届本科生发出诚挚邀请，热烈欢迎参加我校开展的2019年暑期学术夏令营活动。</p>
            <p>　　一、活动时间</p>
            <p>　　2019年7月-8月(具体时间见学院公告)</p>
            <p>　　二、营员基本条件</p>
            <p>　　1.拥护中国共产党的领导，愿为祖国建设服务，品德良好，遵纪守法，身心健康。</p>
            <p>　　2.有意到我校继续深造的国内2020届优秀普通高校全日制应届本科毕业生。接收专业及其他具体要求详见各学院通知。</p>
            <p>　　3.学习成绩优秀，在学期间曾从事科技活动、学科竞赛获奖者或在其中表现突出者优先。</p>
            <p>　　三、活动安排</p>
            <p>
                　　活动期间将有机会聆听著名专家学者的精彩学术讲座、有机会近距离参观国家重点实验室、有机会参与各学科导师交流互动等丰富多彩的主题活动。一起感受东北大学浓郁的学术氛围和美丽的东大校园，体会“自强不息、知行合一”的东大精神。</p>
            <p>　　四、报名时间</p>
            <p>　　报名时间：即日起登录东北大学暑期学术夏令营报名系统(点击此处)，截止时间以学院活动方案为准。</p>
            <p>　　举办学院：文法学院、理学院、机械工程与自动化学院、</p>
            <p>　　材料科学与工程学院、信息科学与工程学院、</p>
            <p>　　资源与土木工程学院、工商管理学院、</p>
            <p>　　计算机科学与工程学院</p>
            <p>　　五、享受政策</p>
            <p>　　学院将依据营员本科学习情况、参加活动及考核等综合情况，确定能够享受优惠政策营员名单。进入享受政策名单的人数不超过参加活动营员总数的85%，进入享受优惠政策名单的营员享受如下政策：</p>
            <p>　　1.取得所在本科院校2020年推荐免试资格，并符合我校2020年接收推荐免试研究生章程相关要求，可被我校直接录取为推荐免试研究生。</p>
            <p>　　2.如未取得推荐免试资格，参加2020年全国硕士研究生统一入学考试，第一志愿报考我校相对应学院专业，若初试成绩达到我校相应门类的复试基本分数线，即可获得复试资格。</p>
            <p>　　六、其它</p>
            <p>　　1.活动期间，营员应严格按照学院规定的日程参加相关活动，学校将为全体营员办理活动期间的人身意外保险。</p>
            <p>　　2.学校为外校营员统一提供食宿，往返车票按学院活动方案要求及我校计划财经处相关财务制度给予报销。</p>
            <p>　　3.报名咨询电话：024-83687556(学校研招办)</p>
            <p>　　办公邮箱：neuyzb@mail.neu.edu.cn</p>
            <p>　　七、报名注意事项</p>
            <p>　　1.有意向报名的同学应仔细阅读学院活动方案，了解报名条件及活动安排，符合条件的须按报名系统要求填报个人信息，完成照片及材料提交。</p>
            <p>　　2.系统提交相关材料，须将报名简表中要求的相关材料扫描生成一个PDF文件中，按照申报专业名称+申请编号+姓名的格式进行命名，上传要求按照系统要求操作。</p>
            <p>　　3.报名过程中出现系统异常可将界面截图发送至neuyzb@mail.neu.edu.cn，我办会择时给予回复。</p>
            <p>　　4、为了便于差旅乘车费用报销，申请者须在报名系统中准确填写个人银行卡号及开户行信息(可通过银行客服电话获取)，具体要求详见报名系统中的申请须知。</p>
            <p>　　以上是<a href="http://yz.kaoyan365.cn" target="_blank"><span style="color:#0000ff;">中公研招网</span></a>为考生整理的“东北大学2020年大学生保研夏令营招生公告”的相关考研信息，希望对大家考研备考有所帮助!
                备考过程中如有疑问，也可以关注中公考研网微信公众号进行咨询。</p>
            <p>　　同时，中公考研网也将实时更新全国各大高校包括招生简章、招生目录、参考书目、报录比。免费提供历年考研试题下载，另外还有<a href="http://mg.kaoyan365.cn/bannian/"
                                                                              target="_blank"><span
                    style="color:#0000ff;">考研面授课程</span></a>、考研辅导课程，欢迎各位考生了解。</p>
            <p>　　<strong>推荐阅读 》》》</strong></p>
            <p>　　<a href="http://yz.kaoyan365.cn/school/bit/beikao/46626.html" target="_blank"><span
                    style="color: rgb(255, 0, 0);">推免研究生网上报名常见问题汇总</span></a></p>
            <p>　　<a href="http://yz.kaoyan365.cn/school/tuli/jingyan/41802.html" target="_blank"><span
                    style="color:#ff0000;">推免研究生保研夏令营申请材料：个人陈述模板</span></a></p>
            <p>　　<a href="http://yz.kaoyan365.cn/school//beikao/30691.html" target="_blank"><span
                    style="color: rgb(255, 0, 0);">保研夏令营联系导师攻略</span></a></p>
            <p>　　<a href="http://yz.kaoyan365.cn/school//beikao/30924.html" target="_blank"><span
                    style="color: rgb(255, 0, 0);">保研夏令营该如何选择院校?</span></a></p>
            <p>　　<a href="http://yz.kaoyan365.cn/school/njtu/beikao/47130.html" target="_blank"><span
                    style="color: rgb(255, 0, 0);">保研只能保本专业?可以保到任意学校的任意专业吗?</span></a></p>

        </div>

        <div class="page"></div>
        <div class="zgky_jjleft_huod"><span>活动专题</span></div>

        <div class="row" id="clearfix">
            <div class="col-md-3">
                <dl style=" ">
                    <dt><a href="http://www.kaoyan365.cn/zhuanti/hanjiatyy/" target="_blank"><img alt=""
                                                                                                  src="http://www.kaoyan365.cn/uploadfile/2018/1228/20181228043114674.jpg"
                                                                                                  width="210px"
                                                                                                  height="130px"></a></dt>
                    <dd><a href="http://www.kaoyan365.cn/zhuanti/hanjiatyy/" target="_blank">2020考研寒假辅导课程</a></dd>
                </dl>
            </div>
            <div class="col-md-3">
                <dl style=" ">
                    <dt><a href="http://mg.kaoyan365.cn/baoyan/" target="_blank"><img alt=""
                                                                                      src="http://www.kaoyan365.cn/uploadfile/2018/1228/20181228042944776.jpg"
                                                                                      width="210px"
                                                                                      height="130px"></a></dt>
                    <dd><a href="http://mg.kaoyan365.cn/baoyan/" target="_blank">名校保研培训课程</a></dd>
                </dl>
            </div>

            <div class="col-md-3">
                <dl style=" ">
                    <dt><a href="http://lx.kaoyan365.cn/" target="_blank"><img alt=""
                                                                               src="http://www.kaoyan365.cn/uploadfile/2018/1019/20181019050209814.jpg"
                                                                               width="210px"
                                                                               height="130px"></a></dt>
                    <dd><a href="http://lx.kaoyan365.cn/" target="_blank">考研周末面授班</a></dd>
                </dl>

            </div>


    </div>
</div>
</body>
</html>