<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>公告详情</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1 class="text-center">教育部公布2019年全国硕士研究生分数线 </h1>
    <h1 class="text-center"> 要求严格规范做好复试调剂录取工作</h1>
    <p>3月15日，教育部公布《2019年全国硕士研究生招生考试考生进入复试的初试成绩基本要求》(国家分数线)，2019年全国硕士研究生复试录取工作全面展开。</p>
    <p>教育部此前印发《2019年全国硕士研究生招生工作管理规定》和《关于进一步规范和加强研究生考试招生工作的通知》等文件，就做好2019年全国硕士研究生招生工作作出了全面部署。有关文件明确，招生单位在国家分数线基础上，结合生源和招生计划等情况，自主确定本单位考生进入复试的初试成绩要求及其他学术要求，但不得出台歧视性或其他有违公平的规定。招生单位应统一制定复试小组工作基本规范，复试小组成员须现场独立评分，复试全程要录音录像。接受调剂申请的招生单位每次开放调剂系统持续时间不得低于12小时。对初试科目完全相同的调剂考生，招生单位应当按考生初试成绩择优遴选，不得简单以考生提交调剂志愿的时间先后等非学业水平标准作为遴选依据。所有拟录取名单须公示不少于10个工作日，未经招生单位公示的考生，一律不得录取，不予学籍注册。各级教育行政部门、省级教育招生考试机构和招生单位要提供考生咨询及申诉渠道，并按有关规定对相关申诉和举报及时调查处理。
    </p>
    <p>为方便考生申请调剂，3月20日至4月30日，中国研究生招生信息网将开通“全国硕士生招生调剂服务系统”(公网网址：<a href="http://yz.chsi.com.cn"
                                                                  target="_blank">http://yz.chsi.com.cn</a>,教育网网址：<a href="http://yz.chsi.cn"
                                                                                                                     target="_blank">http://yz.chsi.cn</a>)。教育部提醒有调剂意愿的考生，要及时登录“全国硕士生招生调剂服务系统”和招生单位网站，充分了解招生单位(含各院、系、所)的调剂工作办法、计划余额，以及相关专业不同学习方式(全日制和非全日制)在培养、奖助等方面的政策区别，并提前了解调剂系统的使用方法，按要求填报调剂志愿。
    </p>
    <div>&nbsp;</div>
    <div><a href="https://yz.chsi.com.cn/kyzx/kp/201903/20190315/1772265280.html" target="_blank"><span
            style="font-size:16px;"><strong>2019年全国硕士研究生招生考试考生进入复试的初试成绩基本要求学术学位类</strong></span></a></div>
    <div>&nbsp;</div>
    <div><span style="font-size:16px;"><strong><a
            href="https://yz.chsi.com.cn/kyzx/kp/201903/20190315/1772265285.html"
            target="_blank">2019年全国硕士研究生招生考试考生进入复试的初试成绩基本要求专业学位类</a></strong></span></div>
    <p>&nbsp;</p>
    <div>
        <div>----</div>
        <div>&nbsp;&nbsp;<a
                href="/news/file.do?method=downFile&amp;id=1773194847&amp;attach=true&amp;hist=false"
                target="_blank" title="无描述信息">点击下载:2019年全国硕士研究生招生考试考生进入复试的初试成绩基本要求(学术学位类、专业学位类).pdf</a></div>
    </div>
    <div class="dianzan dianzan-active" onclick="dianzan(this,'1772265387','#1787e0')">
        <div class="dianzan-icon-warp"><i class="iconfont dianzan-icon" style="color:#1787e0"></i></div>
    </div>
    <script src="https://t1.chei.com.cn/common/js/dianzan.js"></script>
    <script>showDianZan("dzz", 1772265387, "#1787e0");</script>


</div>
</body>

</html>