<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告详情</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <h1 class="text-center">2020年南京信息工程大学硕士研究生招生专业</h1>
    <div class="text-center lead" style="margin-top:5px;margin-bottom:10px;"><a href="/info/list/ClassID/52.shtml" target="_blank"
                                                                    title="更多专业目录相关内容列表">专业目录</a> 来源：南京信息工程大学
        2019-06-14　 相关院校：<a href="/graduate/grad/schoolID/468.shtml" title="南京信息工程大学研究生院"
                            target="_blank"><b>南京信息工程大学</b></a>
    </div>

    <div style="margin-top:8px;margin-bottom:0px;">
        <!--1573524-->
        <div id="_cuuxffsozvh">
            <iframe width="690" frameborder="0" height="81" scrolling="no"
                    src="http://p2.chinakaoyan.com/nflxvwqipb?khl=XQ&amp;zlg=VYP&amp;gl=JQUWSURT&amp;owx=6IIEySZyRbyRbLLLyw167Cz9zDNzCyw1DByRb7C4DyRbzGI71A3yRb72yRbRYPVRSywH6IBA&amp;svl=R1QRV2W4QXUUU1WRQUT3RWXRV2TX4X40&amp;gwp=dpihwlkop&amp;sdu=QRQXMWRP&amp;gul=Q&amp;wsu=QUVQPTVTVVPSS&amp;svv=QRPQMTSSX&amp;hasv=QQQPPR,QQUPPY,QQPPQQ&amp;sfv=QRPQMVUP&amp;glv=P&amp;slv=xQMxQ&amp;gdl=U&amp;sv=RXWMQQP&amp;dul=R&amp;fhf=c_g&amp;dqw=Q&amp;gf=S&amp;vk10=dtpq&amp;8i10=zi03u&amp;se9=qzxzt&amp;n29=l349&amp;swt=1.1"></iframe>
        </div>
        <script type="text/javascript" src="//p1.chinakaoyan.com/site/production/t54c.js?fajxbs=xpw"></script>
    </div>

    <div class="cont" style="margin-top:-5px;margin-bottom:5px;">
        　<p><strong>南京信息工程大学2020年招收硕士研究生专业一览表</strong></p>
        <p>
        </p>
        <table class="table" border="1">
            <tbody>
            <tr height="29">
                <th height="21">学院代码</th>
                <th>学院名称</th>
                <th>门类</th>
                <th>专业代码</th>
                <th>专业名称</th>
                <th>学习方式</th>
                <th>学制（年）</th>
                <th>联系方式</th>
                <th>备注</th>
            </tr>
            <tr>
                <td height="23">001</td>
                <td>大气科学学院</td>
                <td>理学</td>
                <td>070601</td>
                <td>气象学</td>
                <td>全日制</td>
                <td>3</td>
                <td>田老师，025-58699804</td>
                <td><br>
                </td>
            </tr>
            <tr>
                <td height="72" rowspan="4" >002</td>
                <td rowspan="4" >应用气象学院</td>
                <td rowspan="2">理学</td>
                <td >0706Z2</td>
                <td>应用气象学</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="4">王老师，025-58731193</td>
                <td ><br>
                </td>
            </tr>
            <tr height="24">
                <td >071300</td>
                <td >生态学</td>
                <td >全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td >农学</td>
                <td >090300</td>
                <td >农业资源与环境</td>
                <td>全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td >专业学位</td>
                <td >095100</td>
                <td >农业</td>
                <td>全日制/非全日制</td>
                <td>2/3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td height="54" rowspan="3" >003</td>
                <td rowspan="3" >大气物理学院</td>
                <td rowspan="3">理学</td>
                <td >070602</td>
                <td>大气物理学与大气环境</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="3">张老师，025-58699773</td>
                <td ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >0706Z3</td>
                <td   >大气遥感与大气探测</td>
                <td   >全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td >0706Z4</td>
                <td >雷电科学与技术</td>
                <td >全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td height="36" rowspan="2" >004</td>
                <td rowspan="2" >地理科学学院</td>
                <td>理学</td>
                <td >070500</td>
                <td>地理学</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="2">张老师，025-58235140</td>
                <td ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >理学</td>
                <td   >0706Z5</td>
                <td   >3S集成与气象应用</td>
                <td>全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="22">
                <td height="37" rowspan="2"   >005</td>
                <td rowspan="2"   >遥感与测绘工程学院</td>
                <td>理学</td>
                <td   >0706Z5</td>
                <td>3S集成与气象应用</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="2">毛老师，025-58235226</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="26">
                <td   >工学</td>
                <td   >081600</td>
                <td   >测绘科学与技术</td>
                <td>全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="33">
                <td height="25"   >006</td>
                <td   >水文与水资源工程学院</td>
                <td>工学</td>
                <td   >081500</td>
                <td>水利工程</td>
                <td>全日制</td>
                <td>3</td>
                <td>李老师，025-58731556</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td height="36" rowspan="2"   >007</td>
                <td rowspan="2"   >海洋科学学院</td>
                <td>理学</td>
                <td   >0706Z7</td>
                <td>海洋气象学</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="2">吕老师，025-58695653</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >理学</td>
                <td   >070700</td>
                <td   >海洋科学</td>
                <td>全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td height="36" rowspan="2"   >008</td>
                <td rowspan="2"   >环境科学与工程学院</td>
                <td>理学</td>
                <td   >077600</td>
                <td>环境科学与工程</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="2">杨老师，025-58731090</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >085229</td>
                <td   >环境工程</td>
                <td>全日制</td>
                <td>3</td>
                <td>部分学生安排在无锡就读</td>
            </tr>
            <tr height="24">
                <td height="36" rowspan="2"   >009</td>
                <td rowspan="2"   >自动化学院</td>
                <td>工学</td>
                <td   >081100</td>
                <td>控制科学与工程</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="2">马老师，025-58731059</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >085210</td>
                <td   >控制工程</td>
                <td>全日制</td>
                <td>3</td>
                <td>部分学生安排在无锡就读</td>
            </tr>
            <tr height="24">
                <td height="36" rowspan="2"   >010</td>
                <td rowspan="2"   >电子与信息工程学院</td>
                <td>工学</td>
                <td   >081000</td>
                <td>信息与通信工程</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="2">王老师，025-58731571</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >085208</td>
                <td   >电子与通信工程</td>
                <td>全日制</td>
                <td>3</td>
                <td>部分学生安排在无锡就读</td>
            </tr>
            <tr height="24">
                <td height="36" rowspan="2"   >011</td>
                <td rowspan="2"   >计算机与软件学院</td>
                <td rowspan="2">工学</td>
                <td   >081200</td>
                <td>计算机科学与技术</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="2">周老师，025-58731323</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >083500</td>
                <td   >软件工程</td>
                <td   >全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td height="54" rowspan="3"   >012</td>
                <td rowspan="3"   >数学与统计学院</td>
                <td rowspan="2">理学</td>
                <td   >070100</td>
                <td>数学</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="3">尚老师，025-58731160</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >0706Z6</td>
                <td   >空间天气学</td>
                <td   >全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >025200</td>
                <td   >应用统计</td>
                <td>全日制</td>
                <td>2</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td height="36" rowspan="2"   >013</td>
                <td rowspan="2"   >物理与光电工程学院</td>
                <td>工学</td>
                <td   >080300</td>
                <td>光学工程</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="2">陈老师，025-58731031</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >工学</td>
                <td   >080500</td>
                <td   >材料科学与工程</td>
                <td>全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td height="72" rowspan="4"   >014</td>
                <td rowspan="4"   >法政学院</td>
                <td>理学</td>
                <td   >071200</td>
                <td>科学技术史</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="4">段老师，025-58731376</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >125200</td>
                <td   >公共管理</td>
                <td>非全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >035101</td>
                <td   >法律（非法学）</td>
                <td>全日制/非全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >035102</td>
                <td   >法律（法学）</td>
                <td>全日制/非全日制</td>
                <td>2</td>
                <td><br>
                </td>
            </tr>
            <tr height="36">
                <td height="27"   >015</td>
                <td   >马克思主义学院</td>
                <td>法学</td>
                <td   >030500</td>
                <td>马克思主义理论</td>
                <td>全日制</td>
                <td>3</td>
                <td>秦老师，025-58235803</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td height="36" rowspan="2"   >016</td>
                <td rowspan="2"   >管理工程学院</td>
                <td>管理学</td>
                <td   >120100</td>
                <td>管理科学与工程</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="2">高老师，025-58699906</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >025100</td>
                <td   >金融</td>
                <td>全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td height="72" rowspan="4"   >017</td>
                <td rowspan="4"   >商学院</td>
                <td>管理学</td>
                <td   >120200</td>
                <td>工商管理</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="4">任老师，025-58699839</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >经济学</td>
                <td   >020200</td>
                <td   >应用经济学</td>
                <td>全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >125100</td>
                <td   >工商管理（MBA）</td>
                <td>全日制/非全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >125300</td>
                <td   >会计</td>
                <td>全日制</td>
                <td>2</td>
                <td>部分学生安排在无锡就读</td>
            </tr>
            <tr height="24">
                <td height="72" rowspan="4"   >018</td>
                <td rowspan="4"   >文学院</td>
                <td>文学</td>
                <td   >050100</td>
                <td>中国语言文学</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="4">杨老师，025-58731360</td>
                <td   ><br>
                </td>
            </tr>
            <tr height="24">
                <td   >文学</td>
                <td   >050200</td>
                <td   >外国语言文学</td>
                <td>全日制</td>
                <td>3</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >045300</td>
                <td   >汉语国际教育</td>
                <td>全日制</td>
                <td>2</td>
                <td><br>
                </td>
            </tr>
            <tr height="24">
                <td   >专业学位</td>
                <td   >055100</td>
                <td   >翻译</td>
                <td>全日制</td>
                <td>2</td>
                <td>部分学生安排在无锡就读</td>
            </tr>
            <tr height="24">
                <td height="54" rowspan="3"   >019</td>
                <td rowspan="3"   >传媒与艺术学院</td>
                <td rowspan="3">专业学位</td>
                <td   >135105</td>
                <td>广播电视</td>
                <td>全日制</td>
                <td>3</td>
                <td rowspan="3">景老师，025-58699883</td>
                <td rowspan="3"   >部分学生安排在无锡就读</td>
            </tr>
            <tr height="24">
                <td >135107</td>
                <td   >美术</td>
                <td   >全日制</td>
                <td>3</td>
            </tr>
            <tr height="24">
                <td   >135108</td>
                <td   >艺术设计</td>
                <td   >全日制</td>
                <td>3</td>
            </tr>
            </tbody>
        </table>
        <p></p>
    </div>
</div>

<!--2个方形-->
<div class="hr20"></div>
<div style="width:300px;float:left;margin-right:20px;">
    <!--u1337164-->
    <div style="width: 100%;"><abbr class="baagneogzeyplrc" style="display:none;"></abbr>
        <iframe width="300" frameborder="0" height="250" scrolling="no"
                src="http://p2.chinakaoyan.com/vrurimhi?khl=RUP&amp;zlg=SPP&amp;gl=JQSSWQVT&amp;owx=6IIEySZyRbyRbLLLyw167Cz9zDNzCyw1DByRb7C4DyRbzGI71A3yRb72yRbRYPVRSywH6IBA&amp;svl=R1QRV2W4QXUUU1WRQUT3RWXRV2TX4X40&amp;glv=P&amp;slv=xQMxQ&amp;svv=QRPQMSUTW&amp;wsu=QUVQPTVTVVPSS&amp;gwp=dpihwlkop&amp;dqw=Q&amp;gul=P&amp;sv=SUTWMQQP&amp;sdu=QRQXMWRP&amp;dul=R&amp;fhf=c_g&amp;gdl=T&amp;hasv=QQQPPR,QQPPQQ&amp;gf=S&amp;sfv=QRPQMVUP&amp;wq6=2xqma&amp;mp1=mqnvk2&amp;kc10=ll0r&amp;xk4=7l6xi&amp;cb2=82q5b&amp;swt=1"></iframe>
    </div>
    <script type="text/javascript" src="//p1.chinakaoyan.com/common/res/z68hm6.js?dyhqqzh=xu"></script>
</div>
<div style="width:350px;float:right;">
    <!--u2689119-->
    <div id="_81z4tzpj6vm" style="width: 100%;"></div>
    <script type="text/javascript" src="//p1.chinakaoyan.com/production/cwfoh.js?ojyi=lrssr"></script>
</div>
<!--2个方形-->

<div class="hr20"></div>
<div><a target="_blank" href="http://download.chinakaoyan.com/"><img
        src="http://download.chinakaoyan.com/wwwfile/20181130121811.jpg"></a></div>

<!--若是无学校属性，则显示如下-->
<div class="hr20"></div>
<div class="list_boxs">
    <div class="hd">
        <span class="f-l s">本类最新资讯</span>
        <span class="f-r">
					<a href="/info/" target="_blank">考研信息</a>  |
					<a href="/tiaoji/" target="_blank">考研调剂</a> |
					<a href="http://download.chinakaoyan.com/" target="_blank">真题资料</a>  |
					<a href="/info/list/ClassID/22.shtml" target="_blank">考研分数线</a>  |
					<a href="/graduate/" target="_blank">研究生院</a> |
					<a href="/guojiaxian/" target="_blank">考研国家线</a>
				</span>
    </div>
    <div class="area">
        <ul class="are_list1">

            <li><a href="/info/article/id/291159.shtml" target="_blank">2020年北京交通大学土木建筑工程学院硕士研究生招生考试科目拟将进行部分修订</a></li>

            <li><a href="/info/article/id/290739.shtml" target="_blank">2020年厦门理工学院硕士研究生招生专业目录</a></li>

            <li><a href="/info/article/id/290061.shtml" target="_blank">2020年西南交通大学硕士研究生招生考试科目拟调整方案</a></li>

            <li><a href="/info/article/id/289227.shtml" target="_blank">2020年长江大学考研各招生学院联系方式及招生专业</a></li>

            <li><a href="/info/article/id/281653.shtml" target="_blank">2019年新疆医科大学硕士研究生复试笔试科目</a></li>

            <li><a href="/info/article/id/276503.shtml" target="_blank">大连海洋大学2019年研究生复试笔试专业目录 </a></li>

            <li><a href="/info/article/id/276317.shtml" target="_blank">2019年厦门大学物理科学与技术学院考研复试科目及参考书目</a></li>

            <li><a href="/info/article/id/276305.shtml" target="_blank">2019年天津理工大学各专业考研复试科目一览表</a></li>

            <li><a href="/info/article/id/276297.shtml" target="_blank">2019年西安工业大学硕士研究生复试科目</a></li>

            <li><a href="/info/article/id/271729.shtml" target="_blank">2019年中科院南京天文光学技术研究所考研专业目录及考试科目</a></li>

        </ul>
    </div>
</div>
</body>
</html>