<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告详情</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="text-center">2020考研复习计划时间表</h1>
    <div class="cont" style="margin-top:-5px;margin-bottom:5px;">
        　<p>时光如梭，不知不觉已经到6月了。2020年考研的考生同学们大多数已经进入了复习状态。那么在为数不多的时间里，如何达到更有效的复习效果呢？科学的备考计划是必不可少的。以下为小编给大家分享一下备考全过程，大家可按照大方向再根据自己情况进行细分任务，达到最有效的复习。</p>
        <p><strong>大致分为五个重要阶段：</strong></p>
        <p><strong>一、基础阶段(2019.3-6)</strong></p>
        <p>1、这个时期大家平时的课程挺多的。在这里要叮嘱大家：当下课程学习是更重要的啊，对于复习考研，我们则在不上课的时候打个坚实的基础吧!(跨专业考研的童鞋，请忽略这一点，但千万不要挂科呀!)</p>
        <p>2.此阶段要做到对各科基础知识有整体印象，全面细致的了解知识点。</p>
        <p>3.这个时期做模拟题都是无意义的，不如打好基础，再好好研究真题。还没决定学校和专业的童鞋，一定要在此阶段尽快定下来。</p>
        <p><strong>二、强化阶段(2019.7-9)</strong></p>
        <p>1.此阶段要清晰地了解各科的一级重要知识点，建立一个完整的逻辑框架，并根据重点、难点进行攻克。</p>
        <p>2.难得有大段的时间可以专心复习，一定要制定全面复习计划，把握好每一天。</p>
        <p><strong>三、提升阶段(2019.9-11)</strong></p>
        <p>1.关注各招生单位的招生简章和专业计划，调整专业课复习计划。</p>
        <p>2.认真回顾暑期强化笔记，启动习题练习。</p>
        <p>3.政治在这个阶段占复习时间的比例要有所提升。</p>
        <p>4.秋招正当时，这段时间要稳定心态，不要被周围不相干的人和事过多地打扰，安心地备考。</p>
        <p><strong>四、冲刺阶段(2019.12)</strong></p>
        <p>1.对各门课的知识进行认真的梳理，有效地整合，在头脑中形成对整个章节的知识框架图。</p>
        <p>2.开始进行考场模拟训练，每天固定时间做整套试卷。</p>
        <p>3.每天要抽出一定时间对重点和高频考点知识进行强化记忆。</p>
        <p>4.这段时期可能大家都进入了复习疲倦期，要知道这是很正常的，不用过多地感到焦急，可以适当出去走走。</p>
        <p><strong>五、考前一周</strong></p>
        <p>1.突击强化记忆每门课老师预测的重点大题。</p>
        <p>2.做一套真题，按照考研时间的安排，模拟实战。</p>
        <p>3.好好休息，调整心态，平和地去对待考试。</p>
        <p><strong>特别注意</strong></p>
        <p>每周固定一天作为休息时间，不到这一天不休息，到这一天一定要休息。</p>
        <p>祝大家都能顺利走过备考阶段，我们考场上见！</p>
    </div>

</div>

</body>
</html>