<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告详情</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h1 class="text-center">
        西安电子科技大学2020年“优研计划”暑期夏令营活动报名通知
    </h1>
    <div class="article">
        <div >
            <div class="lead">
                <p   ><span>西安电子科技大学是以信息与电子学科为主，工、理、管、文多学科协调发展的全国重点大学，直属教育部，是国家“优势学科创新平台”项目和“211工程”项目重点建设高校之一、国家双创示范基地之一、首批35所示范性软件学院、首批9所示范性微电子学院、首批9所获批设立集成电路人才培养基地和首批一流网络安全学院建设示范项目的高校之一。2017年学校信息与通信工程、计算机科学与技术入选国家“双一流”建设学科。</span>&nbsp;
                </p>
                <p   ><span>学校现有2个国家“双一流”重点建设学科群（包含信息与通信工程、电子科学与技术、计算机科学与技术、网络空间安全、控制科学与工程5个一级学科），2个国家一级重点学科（覆盖6个二级学科），14个博士学位授权一级学科，26个硕士学位授权一级学科，具有2个工程博士专业学位授权类别，有9个硕士专业学位授权类别。学校现有专任教师2100余名，其中，博士生导师450余人，硕士生导师1200余人。学校有院士4人，双聘院士15人，“万人计划”入选者20人（含“青年拔尖人才计划”入选者5人），长江学者30人，国家杰出青年基金获得者14人等。</span>&nbsp;
                </p>
                <p   ><span>为加强各高校优秀大学生对我校学科、科研、师资状况的了解，促进大学生之间的交流，选拔有潜质的优秀科研人才，我校将继续进行“优秀科研人才选拔计划”，部分学院将组织“优研计划”暑期夏令营活动，活动期间将进行基本情况介绍、研招政策宣传、优秀营员选拔等。入选我校“优研计划”的学生可在2020年研究生招生中享受一定的优惠政策，具体参看学院“优研计划”活动方案。</span>&nbsp;
                </p>
                <p   ><span>小伙伴们还在等什么，赶快登录系统报名吧：</span><a
                        href="http://yjsxt.xidian.edu.cn/pub/index.jsp"><span>http://yjsxt.xidian.edu.cn/pub/index.jsp</span></a>&nbsp;
                </p>
            </div>
                <p   ><span><strong><span>西安电子科技大学欢迎您！</span></strong></span>&nbsp;</p>
                <p   ><a target="_blank" href="http://ste.xidian.edu.cn/info/1062/8141.htm"><span>通信工程学院“优研计划”活动方案</span></a><span>（6月18日发布）</span>&nbsp;
                </p>
                <p   ><span>通信工程学院网站：<a href="http://ste.xidian.edu.cn/">http://ste.xidian.edu.cn/</a> 电话：029-88204753，北校区主楼二区215</span>&nbsp;
                </p>
                <p   ><span>电子工程学院“优研计划”活动方案（暂未发布）</span>&nbsp;</p>
                <p   ><span>电子工程学院网站：<a href="http://see.xidian.edu.cn/">http://see.xidian.edu.cn/</a> 电话：029-88202253，北校区西大楼三区106</span>&nbsp;
                </p>
                <p   ><a target="_blank"
                                      href="https://cs.xidian.edu.cn/html/notice/all/2019/0618/2332.html"><span>计算机科学与技术学院“优研计划”活动方案</span></a><span>（<span>6月18日发布</span>）</span>&nbsp;
                </p>
                <p   ><span>计算机科学与技术学院网站：<a href="http://cs.xidian.edu.cn/">http://cs.xidian.edu.cn/</a>&nbsp;电话：029-88201901，北校区主楼四区216</span>&nbsp;
                </p>
                <p   ><a target="_blank"
                                      href="http://eme.xidian.edu.cn/a/tongzhi/20190618/1466.html"><span>机电工程学院“优研计划”活动方案</span></a><span>（6月18日发布）</span>&nbsp;
                </p>
                <p   ><span>机电工程学院网站：<a href="http://eme.xidian.edu.cn/">http://eme.xidian.edu.cn/</a> 电话：029-88204736，北校区主楼三区147</span>&nbsp;
                </p>
                <p   ><span>物理与光电工程学院“优研计划”活动方案（暂未发布）</span>&nbsp;</p>
                <p   ><span>物理与光电工程学院网站：</span><a href="http://spoe.xidian.edu.cn/"><span>http://spoe.xidian.edu.cn/</span></a><span>&nbsp;电话：029-88202554，北校区西大楼三区419</span>&nbsp;
                </p>
                <p   ><span>经济与管理学院“优研计划”活动方案（暂未发布）</span>&nbsp;</p>
                <p   ><span>经济与管理学院：<a href="https://ems.xidian.edu.cn/">https://ems.xidian.edu.cn/</a> 电话：029-81891360，南校区信远楼二区325</span>&nbsp;
                </p>
                <p   ><span>数学与统计学院“优研计划”活动方案（暂未发布）</span>&nbsp;</p>
                <p   ><span>数学与统计学院网站：<a href="http://math.xidian.edu.cn/">http://math.xidian.edu.cn/</a> 电话：029-81891379，南校区信远楼二区223</span>&nbsp;
                </p>
                <p   ><a target="_blank" href="http://rwxy.xidian.edu.cn/info/1044/4021.htm"><span>人文学院“优研计划”活动方案</span></a><span>（6月18日发布）</span>&nbsp;
                </p>
                <p   ><span>人文学院网站：<a href="http://rwxy.xidian.edu.cn/">http://rwxy.xidian.edu.cn/</a> 电话：029-81891388，南校区信远楼二区117</span>&nbsp;
                </p>
                <p   ><span>外国语学院“优研计划”活动方案（暂未发布）</span>&nbsp;</p>
                <p   ><span>外国语学院网站：<a href="http://sfl.xidian.edu.cn/">http://sfl.xidian.edu.cn/</a> 电话：029-88202850，北校区西大楼三区515</span>&nbsp;
                </p>
                <p   ><span>微电子学院“优研计划”活动方案（暂未发布）</span>&nbsp;</p>
                <p   ><span>微电子学院网站：<a href="http://sme.xidian.edu.cn/">http://sme.xidian.edu.cn/</a> 电话：029-8202505转602，北校区东大楼315</span>&nbsp;
                </p>
                <p   ><span>生命科学技术学院“优研计划”活动方案（暂未发布）</span>&nbsp;</p>
                <p   ><span>生命科学技术学院<a href="http://life.xidian.edu.cn/">http://life.xidian.edu.cn/</a> 电话：029-81891070，南校区G楼421</span>&nbsp;
                </p>
                <p   ><a target="_blank" href="https://sast.xidian.edu.cn/html/tongzhi/2019/0617/828.html"><span>空间科学与技术学院“优研计划”活动方案</span></a><span>（6月17日发布）</span>&nbsp;
                </p>
                <p   ><span>空间科学与技术学院网站：<a href="http://sast.xidian.edu.cn/">http://sast.xidian.edu.cn/</a> 电话：029-81891034，南校区G楼248西</span>&nbsp;
                </p>
                <p   ><span>先进材料与纳米科技学院“优研计划”活动方案（暂未发布）</span>&nbsp;</p>
                <p   ><span>先进材料与纳米科技学院网站：<a href="http://amn.xidian.edu.cn/">http://amn.xidian.edu.cn/</a> 电话：029-81891149，新校区G楼123</span>&nbsp;
                </p>
                <p   ><span>网络与信息安全学院“优研计划”活动方案（暂未发布）</span>&nbsp;</p>
                <p   ><span>网络与信息安全学院网站：<a href="http://ce.xidian.edu.cn/">http://ce.xidian.edu.cn/</a> 电话：029-81891650，南校区行政辅楼216B</span>&nbsp;
                </p>
                <p   ><a target="_self"
                                      href="http://marx.xidian.edu.cn/a/yincangfenlei/tongzhigonggao/2019/0619/543.html"><span>马克思主义学院“优研计划”活动方案</span></a>&nbsp;
                </p>
                <p   ><span>马克思主义学院网站：</span><a href="http://marx.xidian.edu.cn/"><span>http://marx.xidian.edu.cn/</span></a><span>&nbsp;电话：029-81891162，南校区信远楼二区130</span>&nbsp;
                </p>
                <p   ><span>人工智能学院“优研计划”活动方案（暂未发布）</span>&nbsp;</p>
                <p   ><span>人工智能学院网站：<a href="http://sai.xidian.edu.cn/">http://sai.xidian.edu.cn/</a> 电话：029-88201531，北校区办公楼二区102</span>&nbsp;
                </p>
                <p   ><span>各学院“优研计划”活动方案陆续更新中...</span>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="perpage" id="perpage" style="display: none;">
        <script language="JavaScript">
            var _PAGE_COUNT = "1";
            var _PAGE_INDEX = "0";
            var _PAGE_NAME = "t20190620_1665252";
            var _PAGE_EXT = "shtml";
        </script>
        <script src="//www.eol.cn/e_js/index/2018/pages.js"></script>
        <a href="javascript:void(0);" target="_top" class="cur">1</a> <span>共 1 页</span>
    </div>
    <div class="newstj3">
        <div class="newslist6">

            <div class="list">
                <a href="./t20190619_1664986.shtml">西安邮电大学计算机学院2019年“全国优秀大学生暑期夏令营”通知</a>
            </div>

            <div class="list">
                <a href="./t20190619_1664980.shtml">兰州大学化学化工学院、功能有机分子化学国家重点实验室2019...</a>
            </div>

            <div class="list">
                <a href="./t20190619_1664978.shtml">兰州大学第二医院2019年优秀大学生夏令营活动招生通知</a>
            </div>

            <div class="list">
                <a href="./t20190619_1664977.shtml">兰州大学大气科学学院2019年优秀大学生夏令营第一轮通知</a>
            </div>

            <div class="list">
                <a href="./t20190619_1664975.shtml">兰州大学哲学社会学院2019年优秀大学生夏令营活动通知</a>
            </div>

            <div class="list">
                <a href="./t20190619_1664954.shtml">兰州大学管理学院2019年全国优秀大学生夏令营活动通知</a>
            </div>

            <div class="list">
                <a href="./t20190619_1664953.shtml">齐鲁工业大学2020年保研夏令营通知汇总</a>
            </div>

            <div class="list">
                <a href="./t20190619_1664948.shtml">兰州大学政治与国际关系学院2019年优秀大学生夏令营活动通知</a>
            </div>

        </div>
    </div>

</body>
</html>